* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 8px;

}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.nav .logo {
    font-size: 30px;
    font-stretch: expanded;
    font-family: monospace;
    font-weight: 900;
    font-family: 'Cedarville Cursive', cursive;

}

.nav .icons {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.container {
    padding: 4px;
    overflow: hidden;
    width: 100%;
    height:100vh;
}

.post-container {
    width: 100%;
  
}

.post-container .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;


}

.post-container .header .account {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-container .header .account>h1 {
    font-size: 15px;
}

.post-container .header .account .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.2px solid #dadada;

}



.container .header .account .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;


}

.mid {
    margin: 0 auto;
    width: 100%;
    height: 310px;
    position: relative;

}
.mid #solid-heart{
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease-in 0.5s;
    opacity: 0;
}
.mid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-container .footer {
    
    width: 100%;

}
.post-container .footer .icons {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 8px 8px;

}
.post-container .footer .icons .left-icon{
    display: flex;
    align-items: center;
    gap: 18px;
}
.left-icon i{
    font-size: 20px;
}
.right-icon i{
    font-size: 20px;
}

.footer #liked-love {
    display: none;
    color: red;
}


@media (max-width:600) {
    .main{
        width: 100%;
        height: 100%;
    }
    .mid{
        padding: 0;
    }
  
}