* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}

:root {
    /* colors  */
    --color-parimary: #25ab75;
    --color-parimary-dark: #208c61;
    --color-bg-parimary: linear-gradient(rgba(239, 35, 60, 0.95), rgba(239, 35, 60, .95));
    --color-bg-secondary: #0f0f0f;
    --color-bg-secondary2: #0a0a0a;
    --color-bg-footer: #151515;
    --color-white: #ffffff;
    --color-text: #676767;
    --color-border: #373737;
}

main {
    width: 100%;
    min-width: 430px;

}


/* header start  */
.hero {
    position: fixed;
    top: 0;
    left: 0;
    color: #0a0a0a;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-bg-parimary);
    border-bottom: 1px dashed rgba(256, 256, 256, .2);
    padding: 0px 4vw;
    z-index: 999;
}

.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: .5s;
    color: #101010;
}

.logo span {
    color: white;
}

.ham-button {
    position: absolute;
    padding: 18px 18px;
    right: 15px;
    top: 15px;
    display: none;
    font-size: 1.8rem;
    margin-top: 8px;
    color: var(--color-white);
    background: var(--color-bg-parimary);
}

.ham_menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.ham_close {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.nav-links .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
    padding: 12px 18px;

}

.hero a .active {
    color: #0a0a0a;

}

.hero a {
    display: block;
    color: var(--color-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.hero .active {
    color: #151515;
}

.hero a:hover {
    color: #151515;
}

/* header close  */




/* home page start  */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
    padding: 120px 0 0;
    overflow: hidden;
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95)), url(https://demo.htmlcodex.com/1011/developer-portfolio-template/img/hero-bg.jpg);
 

}

.home-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
    gap: 80px;
}

.home-page .right {
    margin: 45px 0;
    height: 311px;
    width: 311px;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    border: 10px solid var(--color-border);

}

.home-page .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    overflow: hidden;

}

.home-page .right img:hover {
    transform: scale(1.2);
}

.home-page .left {
    margin: 45px 0;
    color: #ffffff;
    width: 550px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page .left p {
    /* padding-top: 20px; */
    font-size: 1.2rem;
    margin: 0 0 15px;
}

.home-page .left h1 {
    font-size: 3rem;
    margin: 0 0 15px;
}

.home-page .left h2 {
    margin: 0 0 15px;
}


.home-page .left h2 span {
    font-size: 2rem;
    color: white;
    font-weight: 500;
}


.home-page .btn-gurup button {
    padding: 16px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 0;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 25px 10px 0 0;
    margin-right: 20px;
    color: #0f0f0f;

}

.btn-gurup button:hover {
    background-color: var(--color-bg-parimary);
    color: var(--color-white);
    /* border: 2px solid var(--color-white); */
    border: 1.5px solid white;
    transition: 0.3s;
}

/* about section start  */
#about {
    width: 100%;
    height: 100%;
}

.about_me {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
    gap: 80px;
}

.about_me .right {
    height: 100%;

}

.about_me .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_me .left {
    padding: 0px 60px;
    color: #101010;
    width: 683px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


#about h2 {
    font-size: 2.5rem;
    color: #414141;

}

#about p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0 0 16px;
    color: #797979;

}

/* Start Project page start  */
section:nth-of-type(3) {
    background-color: white;
    padding: 10rem 2rem;
}

.project-section-header {
    max-width: 640px;
    color: #0a0a0a;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--color-white);
    font-size: 2.6rem;
}

.projects-section .project-grid {
    display: grid;
    width: 100%;
    max-width: 1000px;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin: 0 auto;
    margin-bottom: 5rem;
}

.projects-section .project-grid .box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.projects-section .project-grid .box:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.02);
}

.projects-section .project-grid .box img {
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}


.projects-section .project-grid .box p {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Times", serif;
    padding: 18px 5px;
}

/* skill section start  */


#Skills {
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background-color: #F6F4FC;

}

.skill-header {
    width: 100%;
    margin-bottom: 70px;
    padding: 15px 0px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skill-header h2 {
    margin-bottom: -1px;

}

.skill-header h2 span {
    color: #ef233c;
}


.skill-page {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 25px;
}

.skill-page .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.skill-bar .bar {
    width: 100%;
    height: 10px;

    background-color: #e0d5d6;
    border-radius: 45px;
    margin-top: 5px;
}

.skill-bar .info .percent {
    font-weight: bolder;
}

.skill-bar .bar span {
    width: 80%;
    height: 100%;
    display: flex;
    background-color: #ef233c;
    border-radius: 45px;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill-bar .bar .css {
    width: 60%;
    animation: css 3s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill-bar .bar .JavaScript {
    width: 70%;
    animation: JavaScript 3s;
}

@keyframes JavaScript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skill-bar .bar .php {
    width: 80%;
    animation: php 3s;
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill-bar .bar .react {
    width: 40%;
    animation: react 3s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.skill-bar .bar .bootstrap {
    width: 85%;
    animation: bootstrap 3s;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill-bar .bar .mongodb {
    width: 75%;
    animation: mongodb 3s;
}

@keyframes mongodb {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skill-bar .bar .node {
    width: 60%;
    animation: node 3s;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

/* blog section start  */
#Blog {
    width: 100%;
    padding: 45px 0px 15px;
}

#Blog .blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
}

#Blog .header-text {
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Blog .header-text h1 {
    font-size: 45px;
    margin-left: 12px;
}

#Blog .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

#Blog .lines .horizontal-rule {
    height: 3px;
    width: 35px;
    background-color: #ef233c;
}

#Blog .lines .period {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #ef233c;
}

#Blog .lines p {
    color: #717171;
    font-weight: 700;
}

#Blog .post-container {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

#Blog .post-container .post-part1 {
    width: 480px;
    height: 645px;
    overflow: hidden;
    padding: 0 15px;
}

#Blog .post-container .post-part2 {
    width: 480px;
    height: 645px;
    overflow: hidden;
    padding: 0 15px;
}

#Blog .post-container .blog-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: auto;
    margin-top: -8px;
    border-right: 1.5px solid #EDEDED;
    border-bottom: 1.5px solid #EDEDED;
    border-left: 1.5px solid #EDEDED;
}

.blog-img {
    width: 450px;
    height: 300px;
    transition: all ease .5s;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-img:hover img {
    scale: 1.2;
}

#Blog .post-container .blog-text h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

#Blog .post-container .blog-text p {
    margin: 0 0 20px;
    font-size: 13px;
    color: #9E9285;
}


#Blog .post-container .blog-text .post-btn {
    padding: 10px 18px;
    margin-top: 10px;
    background-color: #ef233c;
    color: #fff;
    text-transform: capitalize;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#Blog .post-container .blog-text .post-btn i {
    font-size: 10px;
    margin-left: 5px;
    text-align: center;
    font-weight: 800;
}

#Blog .post-container .blog-text .post-btn:hover {
    background-color: #202020;
}



/* start contact section  */
.form-container {
    width: 100%;
    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ef233c;
    margin: 45px 0;
}

.form-container .my-img {
    height: 532px;
}

.my-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.form-box {
    padding: 90px 0 90px 45px;
    display: flex;
    width: 50%;
    margin-right: 20px;
    justify-content: center;
    flex-direction: column;


}

.form-box h2 {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 1.8rem;
    padding: 22px 0px;
    text-transform: capitalize;
    font-weight: 700;
}

.form-box label {
    padding: 8px 8px;
    font-size: 1.4rem;

}

.form-box label input[type="text"],
input[type="phone"],
input[type="email"] {
    width: 100%;
    padding: 12px 0px;
    font-size: 1.4rem;
    color: var(--color-white);
    border: none;
    outline: none;
    padding: 15px 0;
    background: 0 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.form-box button[type="submit"] {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px 12px;
    font-size: 1rem;
    margin-top: 22px;
    margin-bottom: 22px;
}

.form-box button[type="submit"]:hover {
    background-color: #dd1c33;

}

/* start footer section  */
footer {
    margin-top: 45px;
    background: #ef233c;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    font-size: 1.1rem;
    height: 348px;
    width: 100%;
    background-color: #ef233c;

}

.footer-container .container {
    width: 100%;
    margin: 0 62px;
    padding: 0 15px;
}

.footer-container .footer-info {
    width: 100%;
    text-align: center;

}

.footer-container .footer-info .footer-contact {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-container .footer-info .footer-contact p:nth-of-type(1) {
    padding-right: 10px;
    border-right: 1.2px solid white;
}

.footer-contact p {
    font-weight: 700;
}

.footer-container .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}

.footer-container .footer-info h3 {
    text-align: center;
    margin: 0px 0px 25px;
    font-size: 20px;
    font-weight: 700;

}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;



}

.footer-social i {
    height: 24px;
    color: white;
    font-weight: 700;

}

.copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1.1px solid;

}

.copyright p {
    margin: 0;
    color: #fff;

}

/* for Mobile device */

@media (max-width:320px) {
    main {
        /* width: 100%; */
        /* min-width: 450px; */
    }

    .logo {

        font-size: 1.5rem;
    }

    .home-page .right {
        /* width: 100%; */
    }

    .home-page .left {
        padding: 0;
    }

    .btn-gurup button {
        width: 100%;
        font-size: 1.5rem;
        padding: 12px 15px;
    }

    .left h1:nth-of-type(1) {
        font-size: 1.8rem;
    }

    .left p span {
        font-size: 1.8rem;
    }

    .left h1:nth-of-type(2) {
        font-size: 2.1rem;
    }

    #Skills {
        min-width: 400px;
        padding: 2vw 5vw;
        width: 100%;

    }

    .skill-page {
        width: 100%;
    }


}

@media (max-width:425px) {
    #Skills {
        padding: 2vw 5vw;
        width: 100%;

    }

    .skill-page {
        width: 100%;
    }

}

@media (max-width:550px) {
    .logo {
        /* margin: -7px 0px 0px -7px; */

    }


    .ham-button {
        display: flex;
        margin: -4px 0px 0px -5px;
        font-size: 1.8rem;
    }
    #home{
        width: 100%;
        height: auto;
        
    }

    #home .home-page {
        width: 100%;
     
    }

    .home-page .right {
        margin:  0;
    }

     .home-page .left {
        
        color: #ffffff;
        margin-top: 40px;
    
    }

    .about_me .left {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }



    .left>h1 {
        font-size: 2px;
    }

    .left span {
        color: var(--color-parimary-dark);
        font-size: 2.8rem;
        font-weight: 200;
    }


    .btn-gurup button {
        padding: 8px 12px;
    }

    .blog-img {
        width: 100%;
    }

    #Skills {
        width: 100%;
        padding: 0 8vw;
    }



}



@media (max-width:820px) {
    .left {
        align-items: center;
    }
}

@media (max-width:986px) {
    .hero a {
        margin-left: -20px;
    }

    .about_me {
        /* padding: 14px 45px; */
        flex-direction: column;
        gap: 0px;

    }

}

@media (max-width: 900px) {


    .ham-button {
        display: flex;
        z-index: 999;
    }

    .ham_menu {
        display: block;
    }

    .nav-links {
        display: none;
        height: 100vh;
        width: 100%;

    }

    .hero {
        padding: 1rem 1rem;
        flex-direction: column;
        align-items: flex-start;

    }

    .nav-links ul {
        position: absolute;
        top: 25%;
        left: 25%;
        transform: translate(-25%, -25%);
        flex-direction: column;
        width: 100%;
    }

    .nav-links li a {
        padding: .5rem .1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .nav-links.active {
        display: block;
    }



    /* home page style  */
    .home-page {
        flex-direction: column;
        gap: 10px;
    }

    .left {
        width: 100%;
        height: 100%;
        padding: 14px 45px;
        text-align: center;
    }

    .left span {
        color: var(--color-parimary-dark);
        /* font-size: 2.8rem; */
        font-weight: 200;
    }

    .left p {
        font-size: 1.5rem;
        font-family: Tahoma, sans-serif;

    }





    /* about page  */
    .about_me {
        margin-top: 10px;
        padding: 14px 0px;
    }

    .my-works {
        padding: 25px 45px;
        flex-direction: column;
        height: 100%;
        width: 100%;

    }

    .project {
        padding: 14px 45px;
    }


    .blog-container .post-container {
        align-items: center;
        justify-content: center;
    }

    footer p:nth-child(1) {
        text-align: center;
        margin: 0px 18px;
        font-size: 1.2rem;
    }

    .form-container {
        flex-direction: column;

    }

    .my-img {
        display: none;
    }

    .form-box {
        width: 100%;
    }

}